# Visual Studio 相关
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build 输出
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.xml

# 日志文件
[Ll]og/

# Costura Fody
FodyWeavers.xsd
*.costura.*.compressed

# NuGet
packages/
project.lock.json
project.assets.json
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# 发布配置
Properties/PublishProfiles/*.pubxml.user
